.card__img-top {
  padding: 288pxã€€182px;
  margin-bottom: ;
}

title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

.card {
  background-color: #fff;
}
